<!DOCTYPE html>
<html>

<head>
    <title>Welcome!</title>
    <%- include('../partials/navbar-style') %>
</head>

<body>
    <%- include('../partials/navbar') %>
    <h1>Welcome</h1>
</body>

</html>